*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gambiarra{
    display: flex;
    background-color: gray;
    justify-content: center;
}


header{
    display: flex;
    align-items: center;
    color: white;
    height: 90px;
    width:100vw;
    background-color: #0027A4;

}

.voltar{
    font-size: 1.2rem;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    border-radius: 5px;
    height: 30px;
    width: 120px;
}

main{
    background-color: black;
    color: white;
    height: 400px;
    width: 4000px;
}
